// @mixin transform($value) {
//   -webkit-transform: $value;
//   -moz-transform: $value;
//   -ms-transform: $value;
//   -o-transform: $value;
//   transform: $value;
// }

.shake {
  /* duration is reset in the JS */
  animation: 2s 1 normal shake;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  15%,
  45%,
  75% {
    transform: rotate(5deg);
  }
  30%,
  60%,
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
